<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panotech.ble_master_system">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/widget"
        android:label="BLE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label=""
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity android:name=".CheckActivity"
            android:label=""
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity android:name=".CheckAbsenceActivity"
            android:label=""
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity android:name=".SettingsActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity android:name=".TestShowLogActivity"
            android:label=""
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
    </application>

</manifest>